footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: aqua;
}
h4{
  color: aqua;
}

#red-label{
  color: red;
}

#green-label{
  color: green;
}

#blue-label{
  color: blue;
}

button:not(:disabled){
  cursor: pointer;
  background: aqua;
  border: 0;
}
