footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: aliceblue;
}

#red-label{
  color: red;
}

#green-label{
  color: green;
}

#blue-label{
  color: blue;
}

#red{
  color: red;
}

#green{
  color: green;
}

#blue{
  color: blue;
}